<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aswl.as.ibrs.mapper.AlarmTypeUserFavoriteMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="alarmTypeUserFavoriteResultMap" type="com.aswl.as.ibrs.api.module.AlarmTypeUserFavorite">
			<id column="id"   property="id" />
			<id column="user_id"   property="userId" />
			<id column="alarm_type"   property="alarmType" />
			<id column="app_alarm_type" property="appAlarmType"/>
			<id column="sms_alarm_type" property="smsAlarmType"/>
			<id column="remark"   property="remark" />
	</resultMap>

	<sql id="alarmTypeUserFavoriteColumns">
		id, user_id, alarm_type,app_alarm_type,sms_alarm_type, remark
	</sql>
	<!-- where 条件 -->

	<sql id="whereColumnList">

				<if test="userId  != null and userId != ''" >
					and user_id #{userId}
				</if>
				<if test="alarmType  != null and alarmType != ''" >
					and alarm_type like CONCAT('%',#{alarmType},'%')
				</if>
				<if test="remark  != null and remark != ''" >
					and remark like CONCAT('%',#{remark},'%')
				</if>
	</sql>

	<select id="get" resultMap="alarmTypeUserFavoriteResultMap">
		SELECT
		<include refid="alarmTypeUserFavoriteColumns"/>
		FROM as_alarm_type_user_favorite
		WHERE id = #{id}
	</select>

	<select id="findList" resultMap="alarmTypeUserFavoriteResultMap">
		SELECT
		<include refid="alarmTypeUserFavoriteColumns"/>
		FROM as_alarm_type_user_favorite
		<include refid="whereColumnList"/>
	</select>


	<select id="findListById" resultMap="alarmTypeUserFavoriteResultMap">
		SELECT
		<include refid="alarmTypeUserFavoriteColumns"/>
		FROM as_alarm_type_user_favorite
		WHERE id IN
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>


	<insert id="insert">
        INSERT INTO as_alarm_type_user_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null and id!=''">
                    id,
                </if>
                <if test="userId != null and userId!=''">
                    user_id,
                </if>
                <if test="alarmType != null and alarmType!=''">
                    alarm_type,
                </if>
				<if test="appAlarmType!= null and appAlarmType!=''">
					app_alarm_type,
				</if>
				<if test="smsAlarmType!= null and smsAlarmType!=''">
					sms_alarm_type,
				</if>
                <if test="remark != null and remark!=''">
                    remark,
                </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                <if test="id != null and id!=''">
                    #{id},
                </if>
                <if test="userId != null and userId!=''">
                    #{userId},
                </if>
                <if test="alarmType != null and alarmType!=''">
                    #{alarmType},
                </if>
				<if test="appAlarmType!= null and appAlarmType!=''">
					#{appAlarmType},
				</if>
				<if test="smsAlarmType!= null and smsAlarmType!=''">
					#{smsAlarmType},
			</if>
                <if test="remark != null and remark!=''">
                    #{remark},
                </if>
        </trim>
	</insert>

	<update id="update" >
		UPDATE as_alarm_type_user_favorite
		<set>
				<if test="id != null and id!=''">
					id =  #{id},
				</if>
				<if test="userId != null and userId!=''">
					user_id =  #{userId},
				</if>
				<if test="alarmType != null and alarmType!=''">
					alarm_type =  #{alarmType},
				</if>
				<if test="appAlarmType!= null and appAlarmType!=''">
					app_alarm_type =#{appAlarmType},
				</if>
				<if test="smsAlarmType!= null and smsAlarmType!=''">
					sms_alarm_type =#{smsAlarmType},
				</if>
				<if test="remark != null and remark!=''">
					remark =  #{remark},
				</if>
		</set>
		where id =  #{id}
	</update>

	<select id="findAlarmUserFavoriteTypeLists" resultType="com.aswl.as.ibrs.api.vo.AlarmTypeUserFavoriteVo">
		SELECT
		t1.user_id AS userId,
		t1.alarm_type AS alarmType,
		t2.alarm_type_name AS alarmTypeName
		FROM as_alarm_type_user_favorite t1
		LEFT JOIN as_alarm_type t2
		ON t1.alarm_type=t2.alarm_type
		<if test="userId!=null and userId!=''">
		  and t1.user_id=#{userId}
		 </if>
	</select>
    <select id="findUserWatchAlarmType" resultType="com.aswl.as.ibrs.api.vo.UserWatchVo">
		SELECT u.id AS id,u.alarm_type AS alarmType
		FROM as_alarm_type_user_favorite u
		WHERE
		<if test="userId!=null and userId!=''">
			 u.user_id=#{userId}
		</if>
	</select>
	<select id="findGlobalAlarmType" resultType="com.aswl.as.ibrs.api.vo.UserWatchVo">
		SELECT u.id AS id,u.alarm_type AS alarmType
		FROM as_alarm_type_user_favorite u
		WHERE u.user_id is null
	</select>
	<select id="findByUserId" resultMap="alarmTypeUserFavoriteResultMap">
		SELECT
		<include refid="alarmTypeUserFavoriteColumns"/>
		FROM as_alarm_type_user_favorite
		WHERE user_id = #{userId}		
	</select>
	<insert id="batchInsert">

		INSERT INTO as_alarm_type_user_favorite
		(
		id,
		user_id,
		alarm_type
		)
		VALUES
		<foreach item="item" index="index" collection="AlarmTypeUserFavorites"
				 separator="," >
			(
			#{item.id},
			#{item.userId},
			#{item.alarmType}
			)
		</foreach>
	</insert>

	<update id="batchUpdate">
		update as_alarm_type_device_favorite
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="alarm_type =case" suffix="end,">
				<foreach collection="AlarmTypeUserFavorites" item="i" index="index">
					<if test="i.alarmType!=null">
						when user_id=#{i.userId} AND id =#{i.id} then #{i.alarmType}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="AlarmTypeUserFavorites" separator="or" item="i" index="index" >
			user_id=#{i.userId} AND id =#{i.id}
		</foreach>
	</update>
	<update id="updateAlarmTypeUserFavorite">
		UPDATE as_alarm_type_user_favorite
		<set>
			<if test="appAlarmType!= null and appAlarmType!=''">
				app_alarm_type =#{appAlarmType},
			</if>
			<if test="smsAlarmType!= null and smsAlarmType!=''">
				sms_alarm_type =#{smsAlarmType},
			</if>
		</set>
		where user_id =  #{userId}
	</update>

	<delete id="deleteByUserId">
		DELETE FROM as_alarm_type_user_favorite
		WHERE user_id = #{userId}
	</delete>

</mapper>