<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aswl.as.ibrs.mapper.AssetsCategoryMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="assetsCategoryResultMap" type="com.aswl.as.ibrs.api.module.AssetsCategory">
			<id column="id"   property="id" />
			<id column="name"   property="name" />
			<id column="code"   property="code" />
			<id column="create_date"   property="createDate" />
			<id column="creator"   property="creator" />
			<id column="application_code"   property="applicationCode" />
			<id column="tenant_code"   property="tenantCode" />
	</resultMap>

	<sql id="assetsCategoryColumns">
		id, name, code, create_date, creator, application_code, tenant_code
	</sql>
	<!-- where 条件 -->

	<sql id="whereColumnList">

				<if test="name!= null and name!= ''" >
					and name LIKE CONCAT(#{name},'%')
				</if>
				<if test="code!= null and code!= ''" >
					and code LIKE CONCAT(#{code},'%')
				</if>
				<if test="createDate!= null and createDate!= ''">
					and create_date = #{createDate}
				</if>
				<if test="creator!= null and creator!= ''" >
					and creator LIKE CONCAT(#{creator},'%')
				</if>
				<if test="applicationCode!= null and applicationCode!= ''" >
					and application_code LIKE CONCAT(#{applicationCode},'%')
				</if>
				<if test="tenantCode!= null and tenantCode!= ''" >
					and tenant_code LIKE CONCAT(#{tenantCode},'%')
				</if>
	</sql>

	<select id="get" resultMap="assetsCategoryResultMap">
		SELECT
		<include refid="assetsCategoryColumns"/>
		FROM as_assets_category
		WHERE id = #{id}
	</select>

	<select id="findList" resultMap="assetsCategoryResultMap">
		SELECT
		<include refid="assetsCategoryColumns"/>
		FROM as_assets_category
		WHERE 1=1
		<include refid="whereColumnList"/>
	</select>


	<select id="findListById" resultMap="assetsCategoryResultMap">
		SELECT
		<include refid="assetsCategoryColumns"/>
		FROM as_assets_category
		WHERE id IN
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>


	<insert id="insert">
        INSERT INTO as_assets_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="name != null">
                    name,
                </if>
                <if test="code != null">
                    code,
                </if>
                <if test="createDate != null">
                    create_date,
                </if>
                <if test="creator != null">
                    creator,
                </if>
                <if test="applicationCode != null">
                    application_code,
                </if>
                <if test="tenantCode != null">
                    tenant_code,
                </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id},
                </if>
                <if test="name != null">
                    #{name},
                </if>
                <if test="code != null">
                    #{code},
                </if>
                <if test="createDate != null">
                    #{createDate},
                </if>
                <if test="creator != null">
                    #{creator},
                </if>
                <if test="applicationCode != null">
                    #{applicationCode},
                </if>
                <if test="tenantCode != null">
                    #{tenantCode},
                </if>
        </trim>
	</insert>

	<update id="update" >
		UPDATE as_assets_category
		<set>
				<if test="id != null">
					id =  #{id},
				</if>
				<if test="name != null">
					name =  #{name},
				</if>
				<if test="code != null">
					code =  #{code},
				</if>
				<if test="createDate != null">
					create_date =  #{createDate},
				</if>
				<if test="creator != null">
					creator =  #{creator},
				</if>
				<if test="applicationCode != null">
					application_code =  #{applicationCode},
				</if>
				<if test="tenantCode != null">
					tenant_code =  #{tenantCode},
				</if>
		</set>
		WHERE id =  #{id}
	</update>

	<delete id="delete">
		DELETE FROM  as_assets_category
		WHERE ID =  #{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM  as_assets_category
		WHERE id in
		<foreach item="item" index="index" collection="array" open="("
				 separator="," close=")">#{item}
		</foreach>
	</delete>
</mapper>