<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aswl.as.ibrs.mapper.EventPatrolMapper">
    <select id="findByPage" resultType="com.aswl.as.ibrs.api.vo.EventPatrolVo">
        select
        d.user_name as regionLeaderName,
        a.id_cipher as idCipher,
        c.region_name as regionName,
        b.device_name as deviceName,
        FROM_UNIXTIME(a.rec_time) as patrolTime,
        p.project_name as projectName,
        b.id as deviceId
        from
        <foreach collection="tableNames" item="item" separator="union all" open="(" close=")">
            select * from ${item}
        </foreach> as a
        LEFT JOIN as_device as b on a.device_id = b.id
        LEFT JOIN as_region as c on a.region_no = c.region_code
        LEFT JOIN as_region_leader as d on c.id = d.region_id
        LEFT JOIN as_project as p on b.project_id = p.project_id
        where 1 = 1
        <if test="regionLeaderId != null and regionLeaderId != ''">
            and d.id = #{regionLeaderId}
        </if>
        <if test="regionLeaderName != null and regionLeaderName != ''">
            and d.user_name = #{regionLeaderName}
        </if>
        <if test="idCipher != null and idCipher != ''">
            and a.id_cipher = #{idCipher}
        </if>
        <if test="deviceName != null and deviceName != ''">
            and b.device_name = #{deviceName}
        </if>
        <if test="tenantCode != null and tenantCode != ''">
            and a.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND b.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="regionCode != null and regionCode != ''">
            and a.region_no like concat(#{regionCode},'%')
        </if>
        <if test="deviceId != null and deviceId != ''">
            and a.device_id = #{deviceId}
        </if>
        <if test="patrolStartTime != null and patrolEndTime != null">
            and FROM_UNIXTIME(a.rec_time,'%Y-%m-%d') between #{patrolStartTime} and #{patrolEndTime}
        </if>
        <if test="query!= null and query!=''">
            and (d.user_name like concat(#{query},'%') or a.id_cipher like concat(#{query},'%') or b.device_name like concat(#{query},'%'))
        </if>
        order by b.device_name IS NULL, patrolTime desc
    </select>

    <select id="findByPeriod" resultType="string">
        select device_id as deviceId from as_event_bt_patrol
        <where>
            <if test="patrolKeyId != null and patrolKeyId != ''">
                and id_cipher = #{patrolKeyId}
            </if>
            <if test="periodBeginTime != null and periodBeginTime != '' and periodEndTime != null and periodEndTime != ''">
                and auth_time between #{periodBeginTime} and #{periodEndTime}
            </if>
        </where>
    </select>
</mapper>