<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aswl.as.ibrs.mapper.EventUcMetadataMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="eventUcMetadataResultMap" type="com.aswl.as.ibrs.api.module.EventUcMetadata">
        <id column="id" property="id"/>
        <id column="tab_code" property="tabCode"/>
        <id column="tab_name" property="tabName"/>
        <id column="fld_code" property="fldCode"/>
        <id column="fld_name" property="fldName"/>
        <id column="fld_name_en" property="fldNameEn"/>
        <id column="fld_type" property="fldType"/>
        <id column="fld_unit" property="fldUnit"/>
        <id column="status_name" property="statusName"/>
        <id column="priority" property="priority"/>
        <id column="enable" property="enable"/>
        <id column="is_alarm" property="isAlarm"/>
        <id column="vector_type" property="vectorType"/>
        <id column="icon_path" property="iconPath"/>
        <id column="is_status_group" property="isStatusGroup"/>
        <id column="event_status_group_id" property="eventStatusGroupId"/>
        <id column="remark" property="remark"/>
        <id column="create_date" property="createDate"/>
        <id column="create_by" property="createBy"/>
        <id column="create_name" property="createName"/>
        <id column="update_date" property="updateDate"/>
        <id column="update_by" property="updateBy"/>
        <id column="update_name" property="updateName"/>
    </resultMap>

    <sql id="eventUcMetadataColumns">
		id, tab_code, tab_name, fld_code, fld_name,fld_name_en, fld_type, fld_unit,status_name, priority, enable, is_alarm, vector_type, icon_path, is_status_group, event_status_group_id, remark, create_date, create_by, create_name, update_date, update_by, update_name
	</sql>
    <!-- where 条件 -->

    <sql id="whereColumnList">

        <if test="tabCode  != null and tabCode != ''">
            and tab_code like CONCAT('%',#{tabCode},'%')
        </if>
        <if test="tabName  != null and tabName != ''">
            and tab_name like CONCAT('%',#{tabName},'%')
        </if>
        <if test="fldCode  != null and fldCode != ''">
            and fld_code like CONCAT('%',#{fldCode},'%')
        </if>
        <if test="fldName  != null and fldName != ''">
            and fld_name like CONCAT('%',#{fldName},'%')
        </if>
        <if test="fldType  != null and fldType != ''">
            and fld_type = #{fldType}
        </if>
        <if test="fldUnit  != null and fldUnit != ''">
            and fld_unit like CONCAT('%',#{fldUnit},'%')
        </if>
        <if test="priority  != null and priority != ''">
            and priority = #{priority}
        </if>
        <if test="statusName  != null and statusName != ''">
            and status_name = #{statusName}
        </if>
        <if test="enable  != null and enable != ''">
            and enable = #{enable}
        </if>
        <if test="isAlarm  != null and isAlarm != ''">
            and is_alarm = #{isAlarm}
        </if>
        <if test="vectorType  != null and vectorType != ''">
            and vector_type = #{vectorType}
        </if>
        <if test="iconPath  != null and iconPath != ''">
            and icon_path like CONCAT('%',#{iconPath},'%')
        </if>
        <if test="isStatusGroup  != null">
            and is_status_group = #{isStatusGroup}
        </if>
        <if test="eventStatusGroupId  != null and eventStatusGroupId != ''">
            and event_status_group_id like CONCAT('%',#{eventStatusGroupId},'%')
        </if>
        <if test="remark  != null and remark != ''">
            and remark like CONCAT('%',#{remark},'%')
        </if>
        <if test="createDate  != null and createDate != ''">
            and create_date = #{createDate}
        </if>
        <if test="createBy  != null and createBy != ''">
            and create_by like CONCAT('%',#{createBy},'%')
        </if>
        <if test="createName  != null and createName != ''">
            and create_name like CONCAT('%',#{createName},'%')
        </if>
        <if test="updateDate  != null and updateDate != ''">
            and update_date = #{updateDate}
        </if>
        <if test="updateBy  != null and updateBy != ''">
            and update_by like CONCAT('%',#{updateBy},'%')
        </if>
        <if test="updateName  != null and updateName != ''">
            and update_name like CONCAT('%',#{updateName},'%')
        </if>
    </sql>

    <select id="get" resultMap="eventUcMetadataResultMap">
        SELECT
        <include refid="eventUcMetadataColumns"/>
        FROM as_event_uc_metadata
        WHERE id = #{id}
    </select>

    <select id="findList" resultType="com.aswl.as.ibrs.api.vo.EventUcMetadataVo">
        SELECT
        id,
        is_status_group,
        status_name,
        fld_name,
        priority,
        vector_type,
        fld_unit,
        is_alarm,
        icon_path,
        enable,
        create_date,
        tab_code,
        tab_name,
        fld_code,
        fld_type 
        FROM as_event_uc_metadata
        WHERE 1=1
        <include refid="whereColumnList"/>
    </select>


    <select id="findPageInfo" resultType="com.aswl.as.ibrs.api.vo.EventUcMetadataVo">
        SELECT
        t1.id AS id,
        t1.is_status_group AS isStatusGroup,
        t2.status_group_name AS statusGroupName,
        t1.status_name AS statusName ,
        t1.fld_name AS fldName,
        t1.priority AS priority,
        t1.vector_type AS vectorType,
        t1.fld_unit AS fldUnit,
        t1.is_alarm AS isAlarm,
        t1.icon_path AS iconPath,
        t1.enable AS enable,
        t1.create_date AS createDate,
        t1.tab_code AS tabCode,
        t1.tab_name AS tabName,
        t1.fld_code AS fldCode,
        t1.fld_type AS fldType
        FROM as_event_uc_metadata t1
        LEFT JOIN as_event_uc_status_group t2
        ON t1.event_status_group_id=t2.id
        WHERE 1=1
        <if test="fldName  != null and fldName != ''">
            and t1.fld_name like CONCAT('%',#{fldName},'%')
        </if>
        <if test="statusName  != null and statusName != ''">
            and t1.status_name = #{statusName}
        </if>
        <if test="enable!= null">
            and t1.enable = #{enable}
        </if>
        <if test="isAlarm!= null">
            and t1.is_alarm = #{isAlarm}
        </if>
        <if test="vectorType!= null">
            and t1.vector_type = #{vectorType}
        </if>
        <if test="isStatusGroup != null">
            and t1.is_status_group = #{isStatusGroup}
        </if>
        <if test="createDate  != null and createDate != ''">
            and t1.create_date = #{createDate}
        </if>
    </select>
    
    <select id="findListById" resultMap="eventUcMetadataResultMap">
        SELECT
        <include refid="eventUcMetadataColumns"/>
        FROM as_event_uc_metadata
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="insert">
        INSERT INTO as_event_uc_metadata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tabCode != null ">
                tab_code,
            </if>
            <if test="tabName != null">
                tab_name,
            </if>
            <if test="fldCode != null">
                fld_code,
            </if>
            <if test="fldName != null">
                fld_name,
            </if>
            <if test="fldType != null">
                fld_type,
            </if>
            <if test="fldUnit != null">
                fld_unit,
            </if>
            <if test="statusName  != null ">
                status_name,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="isAlarm != null ">
                is_alarm,
            </if>
            <if test="vectorType != null">
                vector_type,
            </if>
            <if test="iconPath != null">
                icon_path,
            </if>
            <if test="isStatusGroup != null">
                is_status_group,
            </if>
            <if test="eventStatusGroupId != null">
                event_status_group_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="tabCode != null">
                #{tabCode},
            </if>
            <if test="tabName != null">
                #{tabName},
            </if>
            <if test="fldCode != null">
                #{fldCode},
            </if>
            <if test="fldName != null">
                #{fldName},
            </if>
            <if test="fldType != null">
                #{fldType},
            </if>
            <if test="fldUnit != null">
                #{fldUnit},
            </if>
            <if test="statusName  != null">
                #{statusName},
            </if>
            <if test="priority != null">
                #{priority},
            </if>
            <if test="enable != null">
                #{enable},
            </if>
            <if test="isAlarm != null">
                #{isAlarm},
            </if>
            <if test="vectorType != null">
                #{vectorType},
            </if>
            <if test="iconPath != null">
                #{iconPath},
            </if>
            <if test="isStatusGroup != null">
                #{isStatusGroup},
            </if>
            <if test="eventStatusGroupId != null">
                #{eventStatusGroupId},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createName != null">
                #{createName},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateName != null">
                #{updateName},
            </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE as_event_uc_metadata
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="tabCode != null">
                tab_code = #{tabCode},
            </if>
            <if test="tabName != null">
                tab_name = #{tabName},
            </if>
            <if test="fldCode != null">
                fld_code = #{fldCode},
            </if>
            <if test="fldName != null">
                fld_name = #{fldName},
            </if>
            <if test="fldType != null">
                fld_type = #{fldType},
            </if>
            <if test="fldUnit != null">
                fld_unit = #{fldUnit},
            </if>
            <if test="statusName  != null">
                status_name = #{statusName},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="isAlarm != null">
                is_alarm = #{isAlarm},
            </if>
            <if test="vectorType != null">
                vector_type = #{vectorType},
            </if>
            <if test="iconPath != null">
                icon_path = #{iconPath},
            </if>
            <if test="isStatusGroup != null ">
                is_status_group = #{isStatusGroup},
            </if>
            <if test="eventStatusGroupId != null">
                event_status_group_id = #{eventStatusGroupId},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createName != null">
                create_name = #{createName},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateName != null">
                update_name = #{updateName},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM as_event_uc_metadata
        WHERE ID = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM as_event_uc_metadata
        WHERE id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>

    <select id="findDeviceAlarmInfo" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmVo">
        SELECT
        d.id AS id,
        ap.project_name as projectName,
        d.device_name AS deviceName,
        d.device_code AS deviceCode,
        d.ip AS ip,
        r.region_name AS regionName,
        d.region_code AS regionCode,
        k.type AS type,
        k.device_kind_name as deviceKindName,
        m.device_model_name as deviceModelName,
        CONCAT(m.device_model_name,'/',t.device_type,'/',k.device_kind_name) AS deviceModelKind,
        CASE
        WHEN a.is_alarm = 1 THEN FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s')
        WHEN a.is_alarm = 0 THEN ""
        END
        AS alarmTime,
        FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s') AS recTime,
        CASE
        WHEN a.is_alarm = 1 THEN TIMESTAMPDIFF(SECOND,FROM_UNIXTIME(a.rec_time,'%Y-%m-%d
        %H:%i:%s'),DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s'))
        WHEN a.is_alarm = 0 THEN ""
        END
        AS intervalTime,
        CASE
        a.alarm_level WHEN 1 THEN '故障' WHEN 2 THEN '预警' WHEN 3 THEN '正常'
        END
        AS alarmLevel,
        a.alarm_types_des AS alarmTypeName,
        a.alarm_types AS alarmTypes,
        d.latitude AS latitude,
        d.longitude AS longitude,
        d.address AS address,
        n.network_state AS isOnline
        FROM as_device_event_alarm a
        RIGHT JOIN as_device d
        ON d.id = a.device_id LEFT JOIN as_device_model m
        ON d.device_model_id = m.id LEFT JOIN as_device_type t
        ON m.device_type = t.device_type LEFT JOIN as_device_kind k
        ON t.device_kind_id = k.id LEFT JOIN as_region r
        ON r.id = d.region_id LEFT JOIN as_event_network n
        ON n.device_id = d.id
        LEFT JOIN as_project ap on ap.project_id =d.project_id
        WHERE d.del_flag = 0 AND (d.debug != 1 or d.debug is NULL)
        <if test="status != null and status != ''">
            AND a.is_alarm = #{status}
        </if>
        <if test="networkStatus != null and networkStatus != ''">
            AND n.network_state = #{networkStatus}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND r.region_code LIKE CONCAT( #{regionCode},'%')
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND d.device_name LIKE CONCAT('%', #{deviceName},'%')
        </if>
        <if test="deviceCode != null and deviceCode!= ''">
            AND d.device_code = #{deviceCode}
        </if>
        <if test="ip != null and ip!= ''">
            AND d.ip = #{ip}
        </if>
        <if test="regionName != null and regionName!= ''">
            AND r.region_name LIKE CONCAT('%', #{regionName},'%')
        </if>
        <if test="kind != null and kind!= ''">
            AND k.type = #{kind}
        </if>
        <if test="model != null and model!= ''">
            AND m.device_model_name LIKE CONCAT('%', #{model},'%')
        </if>
        <if test="type != null and type!= ''">
            AND t.device_type LIKE CONCAT('%', #{type},'%')
        </if>
        <!-- 过滤条件filter判断 0->且 1->或 -->
        <if test="filter != null and filter == 0">
            <if test="alarmTypeNames != null and alarmTypeNames.size() > 0">
                AND
                <foreach item="item" index="index" collection="alarmTypeNames" open="("
                         separator="and" close=")">
                    a.alarm_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
            <if test="promptTypeNames != null and promptTypeNames.size() > 0">
                AND
                <foreach item="item" index="index" collection="promptTypeNames" open="("
                         separator="and" close=")">
                    a.prompt_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
        </if>
        <if test="filter != null and filter== 1">
            <if test="alarmTypeNames != null and alarmTypeNames.size() > 0">
                AND
                <foreach item="item" index="index" collection="alarmTypeNames" open="("
                         separator="or" close=")">
                    a.alarm_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
            <if test="promptTypeNames != null and promptTypeNames.size() > 0">
                AND
                <foreach item="item" index="index" collection="promptTypeNames" open="("
                         separator="or" close=")">
                    a.prompt_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
        </if>
        <if test="alarmLevels != null and alarmLevels!= ''">
            AND a.alarm_level in
            <foreach item="item" index="index" collection="alarmLevels" open="("
                     separator="," close=")">#{item}
            </foreach>
        </if>

        <if test="tenantCode!=null and tenantCode!='' ">
            AND d.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        ORDER BY alarmTime DESC
    </select>

    <select id="findDeviceInfo" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmDetailsVo">
        SELECT *
        FROM (
        SELECT
        t1.device_id AS id,substring_index(substring_index(t1.alarm_types_des,';',t2.help_topic_id+1),';',-1) AS
        alarmTypeName,
        substring_index(substring_index(t1.u_event_id,';',t2.help_topic_id+1),';',-1) AS eventId,
        substring_index(substring_index(t1.alarm_types,',',t2.help_topic_id+1),',',-1) AS alarmType,
        substring_index(substring_index(t1.alarm_dates,';',t2.help_topic_id+1),';',-1) AS
        alarmDate,substring_index(substring_index(t1.alarm_levels,';',t2.help_topic_id+1),';',-1) AS alarmLevel
        FROM as_device_event_alarm t1

        <if test="projectId!=null and projectId!='' ">
            INNER JOIN as_device d ON d.id = t1.device_id
        </if>

        INNER JOIN mysql.help_topic t2
        ON t2.help_topic_id &lt; (LENGTH(t1.alarm_types) - LENGTH(REPLACE(t1.alarm_types,',',''))+1)

        <if test="tenantCode!=null and tenantCode!='' ">
            AND t1.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        ) AS t
        WHERE id = #{id}
        ORDER BY alarmDate DESC
    </select>

    <select id="findDeviceHistoryStatusAlarmInfo" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmVo">
        SELECT d.id AS id,ap.project_name as projectName,d.device_name AS deviceName,d.device_code AS deviceCode,d.ip AS
        ip,r.region_name AS regionName,k.type AS type,
        k.device_kind_name as deviceKindName,
        m.device_model_name as deviceModelName,
        CONCAT(m.device_model_name,'/',t.device_type,'/',k.device_kind_name) AS deviceModelKind,
        FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s') AS recTime,
        rl.user_name AS regionLeader,
        FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s') AS alarmTime,
       TIMESTAMPDIFF(SECOND,FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s'),DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s'))AS intervalTime,
        CASE
        a.alarm_level WHEN 1 THEN '故障' WHEN 2 THEN '预警' WHEN 3 THEN '正常' END AS alarmLevel,
        a.alarm_types_des AS alarmTypeName,
        a.u_event_id AS eventId,
        d.latitude AS latitude,
        d.longitude AS longitude,
        d.address AS address,
        n.network_state AS isOnline
        FROM (
        select * from
        <foreach collection="tableNames" index="index" item="item" open="(" separator="union all" close=")">
            select * from ${item}
        </foreach>
        AS s
        ) a
        RIGHT JOIN as_device d
        ON d.id = a.device_id LEFT JOIN as_device_model m
        ON d.device_model_id = m.id LEFT JOIN as_device_type t
        ON m.device_type = t.device_type LEFT JOIN as_device_kind k
        ON t.device_kind_id = k.id LEFT JOIN as_region r
        ON r.id = d.region_id LEFT JOIN as_event_network n
        ON n.device_id = d.id LEFT JOIN as_region_leader rl
        ON rl.region_id = d.region_id
        LEFT JOIN as_project ap on ap.project_id = d.project_id
        WHERE d.del_flag = 0 AND (d.debug != 1 or d.debug is NULL)
        <if test="status != null and status != ''">
            AND a.is_alarm = #{status}
        </if>
        <if test="networkStatus != null and networkStatus != ''">
            AND n.network_state = #{networkStatus}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND r.region_code LIKE CONCAT( #{regionCode},'%')
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND d.device_name LIKE CONCAT('%', #{deviceName},'%')
        </if>
        <if test="deviceCode != null and deviceCode!= ''">
            AND d.device_code = #{deviceCode}
        </if>
        <if test="ip != null and ip!= ''">
            AND d.ip = #{ip}
        </if>
        <if test="regionName != null and regionName!= ''">
            AND r.region_name LIKE CONCAT('%', #{regionName},'%')
        </if>
        <if test="kind != null and kind!= ''">
            AND k.type = #{kind}
        </if>
        <if test="model != null and model!= ''">
            AND m.device_model_name LIKE CONCAT('%', #{model},'%')
        </if>
        <if test="type != null and type!= ''">
            AND t.device_type LIKE CONCAT('%', #{type},'%')
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &gt;= #{startTime}
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &lt;= #{endTime}
        </if>
        <!-- 过滤条件filter判断 0->且 1->或 -->
        <if test="filter != null and filter == 0">
            <if test="alarmNames != null and alarmNames.length > 0">
                AND
                <foreach item="item" index="index" collection="alarmNames" open="("
                         separator="and" close=")">
                    a.alarm_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
        </if>
        <if test="filter != null and filter == 1">
            <if test="alarmNames != null and alarmNames.length > 0">
                AND
                <foreach item="item" index="index" collection="alarmNames" open="("
                         separator="or" close=")">
                    a.alarm_types LIKE CONCAT('%', #{item},'%')
                </foreach>
            </if>
        </if>

        <if test="alarmLevels != null and alarmLevels!= ''">
            AND a.alarm_level in
            <foreach item="item" index="index" collection="alarmLevels" open="("
                     separator="," close=")">#{item}
            </foreach>
        </if>

        <if test="tenantCode!=null and tenantCode!='' ">
            AND d.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        ORDER BY recTime DESC
    </select>

    <select id="findEventUcMetadataByIds" resultMap="eventUcMetadataResultMap">
        SELECT
        <include refid="eventUcMetadataColumns"/>
        FROM as_event_uc_metadata
        WHERE id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enable=1
        ORDER BY priority DESC
    </select>

    <select id="findGroup" resultType="com.aswl.as.ibrs.api.vo.UserWatchVo">
        SELECT COALESCE (g.`name`,m.fld_name,"single") AS groupName ,t.alarm_type_name AS alarmTypeName,t.alarm_type AS
        alarmType
        FROM as_event_uc_status_group g RIGHT JOIN as_event_uc_metadata m
        ON g.id = m.event_status_group_id RIGHT JOIN as_alarm_type t
        ON m.id = t.event_metadata_id
        WHERE t.alarm_type = #{alarmType}
    </select>

    <select id="findDeviceAlarmInfoByCondition" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmVo">
        SELECT d.id AS id,d.parent_device_id AS parentId,d.device_name AS deviceName,d.device_code AS deviceCode,d.ip AS
        ip,r.region_name AS regionName,r.region_code AS regionCode,
        k.type AS type,
        CASE
        WHEN a.is_alarm = 1 THEN FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s')
        WHEN a.is_alarm = 0 THEN ""
        END
        AS alarmTime,
        CASE
        WHEN a.is_alarm = 1 THEN TIMESTAMPDIFF(SECOND,FROM_UNIXTIME(a.rec_time,'%Y-%m-%d
        %H:%i:%s'),DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s'))
        WHEN a.is_alarm = 0 THEN ""
        END
        AS intervalTime,
        CASE
        a.alarm_level WHEN 1 THEN '故障' WHEN 2 THEN '预警' WHEN 3 THEN '正常' ELSE "" END AS alarmLevel,
        a.alarm_types_des AS alarmTypeName,d.latitude AS latitude,d.longitude AS longitude,n.network_state AS isOnline
        FROM as_device_event_alarm a
        RIGHT JOIN as_device d
        ON d.id = a.device_id LEFT JOIN as_device_model m
        ON d.device_model_id = m.id LEFT JOIN as_device_type t
        ON m.device_type = t.device_type LEFT JOIN as_device_kind k
        ON t.device_kind_id = k.id LEFT JOIN as_region r
        ON r.id = d.region_id LEFT JOIN as_event_network n
        ON n.device_id = d.id
        WHERE d.del_flag = 0
        <if test="regionCode != null and regionCode != ''">
            AND d.region_code LIKE CONCAT( #{regionCode},'%')
        </if>
        <if test="parentId != null and parentId != ''">
            AND d.parent_device_id = #{parentId}
        </if>
        <if test="kind != null and kind != ''">
            AND k.type = #{kind}
        </if>
        <if test="status != null and status != ''">
            AND a.is_alarm = #{status}
        </if>
        <if test="query != null and query != ''">
            AND (
            d.device_name LIKE CONCAT('%', #{query},'%')
            or d.ip LIKE CONCAT('%', #{query},'%')
            or a.alarm_types_des LIKE CONCAT('%', #{query},'%')
            )
        </if>
        <if test="queries != null and queries != ''">
            AND
            (
            <foreach item="item" index="index" collection="queries" open="("
                     separator="or" close=")">
                d.device_name LIKE CONCAT('%', #{item},'%')
            </foreach>
        </if>
        <if test="queries != null and queries!= ''">
            OR
            <foreach item="item" index="index" collection="queries" open="("
                     separator="or" close=")">
                a.alarm_types_des LIKE CONCAT('%', #{item},'%')
            </foreach>
            )
        </if>
        <if test="alarmLevels != null and alarmLevels!= ''">
            AND (a.alarm_level in
            <foreach item="item" index="index" collection="alarmLevels" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            <if test="flag !=null and flag == 2 ">
                OR  n.network_state != 1
            </if>
            )
        </if>
        <if test="tenantCode!=null and tenantCode!='' ">
            AND d.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="flag !=null and flag == 0 ">
            AND (d.parent_device_id is null OR d.parent_device_id = '')
        </if>
        <if test="flag !=null and flag == 1 ">
            AND n.network_state != 1
        </if>
        ORDER BY a.alarm_level ASC,alarmTime DESC
    </select>

    <select id="findSeletedOperationByMetadataId" resultType="com.aswl.as.ibrs.api.vo.EventUcStatusOperationVo">
        SELECT
        t1.event_metadata_id as metadataId,
        t2.id as id,
        t2.title as title
        FROM
        as_event_uc_metadata_status_operation t1
        LEFT JOIN as_event_uc_status_operation t2
        ON t1.status_operation_id=t2.id
        WHERE t1.event_metadata_id=#{id}
    </select>
    <select id="findEventUcMetadataByDeviceModelId" resultType="com.aswl.as.ibrs.api.vo.EventUcMetadataVo">
        SELECT
        t2.id AS id,
        t1.id AS eventUcMetadataId,
        t1.status_name AS statusName ,
        t1.fld_name AS fldName,
        t1.vector_type AS vectorType ,
        t2.device_model_id AS deviceModelId,
        t1.is_alarm AS isAlarm
        FROM as_event_uc_metadata t1
        LEFT JOIN as_event_uc_metadata_model t2
        ON t1.id=t2.event_metadata_id
        WHERE t2.device_model_id=#{deviceModelId}
        AND t1.is_status_group=0
    </select>


    <select id="findHistoryByPage" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmVo">
        SELECT d.id AS id,d.device_name AS deviceName,d.device_code AS deviceCode,d.ip AS
        ip,r.region_name AS regionName,k.type AS type,
        CONCAT(m.device_model_name,'/',t.device_type,'/',k.device_kind_name) AS deviceModelKind,
        FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s') AS alarmTime,
        TIMESTAMPDIFF(SECOND,FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s'),DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')) AS
        intervalTime,
        CASE
        a.alarm_level WHEN 1 THEN '故障' WHEN 2 THEN '预警' WHEN 3 THEN '正常' END AS alarmLevel,
        a.alarm_types_des AS alarmTypeName,d.latitude AS latitude,d.longitude AS longitude,d.address AS
        address,n.network_state AS isOnline
        FROM (
        select * from
        <foreach collection="tableNames" index="index" item="item" open="(" separator="union all" close=")">
            select * from ${item}
        </foreach>
        AS s
        ) a RIGHT JOIN as_device d
        ON d.id = a.device_id LEFT JOIN as_device_model m
        ON d.device_model_id = m.id LEFT JOIN as_device_type t
        ON m.device_type = t.device_type LEFT JOIN as_device_kind k
        ON t.device_kind_id = k.id LEFT JOIN as_region r
        ON r.id = d.region_id LEFT JOIN as_event_network n
        ON n.device_id = d.id
        WHERE d.del_flag = 0
        <if test="regionCode != null and regionCode != ''">
            AND r.region_code LIKE CONCAT( #{regionCode},'%')
        </if>
        <if test="kind != null and kind != ''">
            AND k.type = #{kind}
        </if>
        <if test="status != null and status != ''">
            AND a.is_alarm = #{status}
        </if>
        <if test="queries != null and queries != ''">
            AND
            (
            <foreach item="item" index="index" collection="queries" open="("
                     separator="or" close=")">
                d.device_name LIKE CONCAT('%', #{item},'%')
            </foreach>
        </if>
        <if test="queries != null and queries!= ''">
            OR
            <foreach item="item" index="index" collection="queries" open="("
                     separator="or" close=")">
                a.alarm_types_des LIKE CONCAT('%', #{item},'%')
            </foreach>
            )
        </if>
        <if test="alarmLevels != null and alarmLevels!= ''">
            AND a.alarm_level in
            <foreach item="item" index="index" collection="alarmLevels" open="("
                     separator="," close=")">#{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &gt;= #{startTime}
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &lt;= #{endTime}
        </if>

        <if test="tenantCode!=null and tenantCode!='' ">
            AND d.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY a.alarm_level ASC,alarmTime DESC
    </select>
    <select id="findHistoryMsg" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmVo">
        SELECT d.id AS id,a.u_event_id AS eventId,d.device_name AS deviceName,d.device_code AS deviceCode,d.ip AS
        ip,r.region_name AS regionName,k.type AS type,
        CONCAT(m.device_model_name,'/',t.device_type,'/',k.device_kind_name) AS deviceModelKind,
        FROM_UNIXTIME(a.rec_time,'%Y-%m-%d %H:%i:%s') AS alarmTime,
        CASE
        a.alarm_level WHEN 1 THEN '故障' WHEN 2 THEN '预警' WHEN 3 THEN '正常' END AS alarmLevel,
        a.alarm_types_des AS alarmTypeName,d.latitude AS latitude,d.longitude AS longitude,d.address AS
        address,
        CASE WHEN LOCATE('IsOnlineAlarm',a.alarm_types)= 0 THEN 1 ELSE 0 END   AS isOnline,
        msg.related_id  AS relatedId
        FROM (
        select * from
        <foreach collection="tableNames" index="index" item="item" open="(" separator="union all" close=")">
            select * from ${item}
        </foreach>
        AS s
        ) a RIGHT JOIN as_device d
        ON d.id = a.device_id LEFT JOIN as_device_model m
        ON d.device_model_id = m.id LEFT JOIN as_device_type t
        ON m.device_type = t.device_type LEFT JOIN as_device_kind k
        ON t.device_kind_id = k.id LEFT JOIN as_region r
        ON r.id = d.region_id
        LEFT JOIN as_alarm_type as aat on locate(aat.alarm_type,a.alarm_types)
        LEFT JOIN  as_msg_read_record msg
        ON msg.related_id = a.u_event_id  AND 
        <if test="userId != null and userId !='' ">
            LOCATE(#{userId},msg.read_user_ids)
        </if>
        WHERE d.del_flag = 0
        <if test="status != null and status != ''">
            AND a.is_alarm = #{status}
        </if>
        <if test="networkStatus != null and networkStatus != ''">
            AND n.network_state = #{networkStatus}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND r.region_code LIKE CONCAT( #{regionCode},'%')
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND d.device_name LIKE CONCAT('%', #{deviceName},'%')
        </if>
        <if test="deviceCode != null and deviceCode!= ''">
            AND d.device_code = #{deviceCode}
        </if>
        <if test="ip != null and ip!= ''">
            AND d.ip = #{ip}
        </if>
        <if test="regionName != null and regionName!= ''">
            AND r.region_name LIKE CONCAT('%', #{regionName},'%')
        </if>
        <if test="kind != null and kind!= ''">
            AND k.type = #{kind}
        </if>
        <if test="model != null and model!= ''">
            AND m.device_model_name LIKE CONCAT('%', #{model},'%')
        </if>
        <if test="type != null and type!= ''">
            AND t.device_type LIKE CONCAT('%', #{type},'%')
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &gt;= #{startTime}
        </if>
        <if test="startTime != null and startTime!= ''">
            AND a.store_time &lt;= #{endTime}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="alarmNames != null and alarmNames.length > 0">
            AND
            <foreach item="item" index="index" collection="alarmNames" open="("
                     separator="and" close=")">
                a.alarm_types LIKE CONCAT('%', #{item},'%')
            </foreach>
        </if>
        <if test="alarmLevels != null and alarmLevels!= ''">
            AND a.alarm_level in
            <foreach item="item" index="index" collection="alarmLevels" open="("
                     separator="," close=")">#{item}
            </foreach>
        </if>
        <if test="alarmTypeNameGroups != null and alarmTypeNameGroups.size() > 0">    <!-- 告警类型区分后的查询方式 -->
            <foreach collection="alarmTypeNameGroups" item="item" >
                AND
                <foreach collection="item.split(',')" item="subItem" open="(" separator="OR" close=")">
                    LOCATE(#{subItem},a.alarm_types)
                </foreach>
            </foreach>
        </if>
        ORDER BY alarmTime DESC
    </select>


    <select id="findPromptInfo" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmDetailsVo">
        SELECT
        tab.device_id as id,
        t3.alarm_type as alarmType,
        t3.alarm_type_name as alarmTypeName,
        case when t3.alarm_level = 3 then '正常' else null end as alarmLevel,
        now() as alarmDate
        FROM (
        SELECT t1.device_id,t1.tenant_code,t1.prompt_types
        FROM as_device_event_alarm as t1
        <if test="projectId != null and projectId != ''">
            INNER JOIN as_device as t2 on t1.device_id = t2.id
        </if>
         where t1.device_id = #{id} and t1.prompt_types is not null
        <if test="tenantCode!=null and tenantCode!='' ">
           AND t1.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND t2.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ) as tab left join as_alarm_type as t3 on locate(t3.alarm_type,tab.prompt_types)
    </select>

    <select id="findAlarmInfo" resultType="com.aswl.as.ibrs.api.vo.DeviceAlarmDetailsVo">
        SELECT *
        FROM (
        SELECT
        t1.device_id AS id,substring_index(substring_index(t1.alarm_types_des,';',t2.help_topic_id+1),';',-1) AS
        alarmTypeName,
        substring_index(substring_index(t1.u_event_id,';',t2.help_topic_id+1),';',-1) AS eventId,
        substring_index(substring_index(t1.alarm_types,',',t2.help_topic_id+1),',',-1) AS alarmType,
        substring_index(substring_index(t1.alarm_dates,';',t2.help_topic_id+1),';',-1) AS
        alarmDate,substring_index(substring_index(t1.alarm_levels,';',t2.help_topic_id+1),';',-1) AS alarmLevel
        FROM as_device_event_alarm t1

        <if test="projectId!=null and projectId!='' ">
            INNER JOIN as_device d ON d.id = t1.device_id
        </if>

        INNER JOIN mysql.help_topic t2
        ON t2.help_topic_id &lt; (LENGTH(t1.alarm_types) - LENGTH(REPLACE(t1.alarm_types,',',''))+1)
        where t1.is_alarm = 1
        <if test="tenantCode!=null and tenantCode!='' ">
            AND t1.tenant_code = #{tenantCode}
        </if>
        <if test="projectId  != null and projectId != ''" >
            AND d.project_id IN
            <foreach collection="projectId.split(',')" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        ) AS t
        WHERE id = #{id}
        ORDER BY alarmDate DESC
    </select>
</mapper>