<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aswl.as.user.mapper.BlackListMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="blackListResultMap" type="com.aswl.as.user.api.module.BlackList">
        <id column="id" property="id"/>
        <id column="ip" property="ip"/>
        <id column="org_code" property="orgCode"/>
        <id column="create_name" property="createName"/>
        <id column="creator" property="creator"/>
        <id column="create_date" property="createDate"/>
        <id column="modifier" property="modifier"/>
        <id column="modify_date" property="modifyDate"/>
        <id column="del_flag" property="delFlag"/>
        <id column="application_code" property="applicationCode"/>
        <id column="tenant_code" property="tenantCode"/>
        <id column="remark" property="remark"/>
    </resultMap>

    <sql id="blackListColumns">
		id, ip, org_code, create_name, creator, create_date, modifier, modify_date,  del_flag, application_code, tenant_code,remark
	</sql>
    <!-- where 条件 -->

    <sql id="whereColumnList">

        <if test="ip  != null and ip != ''">
            and ip like CONCAT('%',#{ip},'%')
        </if>
        <if test="orgCode  != null and orgCode != ''">
            and org_code like CONCAT('%',#{orgCode},'%')
        </if>
        <if test="createName  != null and createName != ''">
            and create_name like CONCAT('%',#{createName},'%')
        </if>
        <if test="creator  != null and creator != ''">
            and creator like CONCAT('%',#{creator},'%')
        </if>
        <if test="createDate  != null ">
            and create_date = #{createDate}
        </if>
        <if test="modifier  != null and modifier != ''">
            and modifier like CONCAT('%',#{modifier},'%')
        </if>
        <if test="modifyDate  != null ">
            and modify_date = #{modifyDate}
        </if>

        <if test="delFlag  != null and delFlag != ''">
            and del_flag = #{delFlag}
        </if>
        <if test="applicationCode  != null and applicationCode != ''">
            and application_code like CONCAT('%',#{applicationCode},'%')
        </if>
        <if test="tenantCode  != null and tenantCode != ''">
            and tenant_code like CONCAT('%',#{tenantCode},'%')
        </if>
        <if test="remark  != null and remark != ''">
            and remark like CONCAT('%',#{remark},'%')
        </if>
    </sql>

    <select id="get" resultMap="blackListResultMap">
        SELECT
        <include refid="blackListColumns"/>
        FROM sys_black_list
        WHERE id = #{id} and del_flag = 0
    </select>

    <select id="findList" resultMap="blackListResultMap">
        SELECT
        <include refid="blackListColumns"/>
        FROM sys_black_list
        WHERE del_flag = 0
        <include refid="whereColumnList"/>
    </select>


    <select id="findListById" resultMap="blackListResultMap">
        SELECT
        <include refid="blackListColumns"/>
        FROM sys_black_list
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="insert">
        INSERT INTO sys_black_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id!=''">
                id,
            </if>
            <if test="ip != null and ip!=''">
                ip,
            </if>
            <if test="orgCode != null and orgCode!=''">
                org_code,
            </if>
            <if test="createName != null and createName!=''">
                create_name,
            </if>
            <if test="creator != null and creator!=''">
                creator,
            </if>
            <if test="createDate != null ">
                create_date,
            </if>
            <if test="modifier != null and modifier!=''">
                modifier,
            </if>
            <if test="modifyDate != null ">
                modify_date,
            </if>
                del_flag,
            <if test="applicationCode != null and applicationCode!=''">
                application_code,
            </if>
            <if test="tenantCode != null and tenantCode!=''">
                tenant_code,
            </if>
            <if test="remark != null and remark!=''">
                remark,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null and id!=''">
                #{id},
            </if>
            <if test="ip != null and ip!=''">
                #{ip},
            </if>
            <if test="orgCode != null and orgCode!=''">
                #{orgCode},
            </if>
            <if test="createName != null and createName!=''">
                #{createName},
            </if>
            <if test="creator != null and creator!=''">
                #{creator},
            </if>
            <if test="createDate != null ">
                #{createDate},
            </if>
            <if test="modifier != null and modifier!=''">
                #{modifier},
            </if>
            <if test="modifyDate != null ">
                #{modifyDate},
            </if>
                #{delFlag},
            <if test="applicationCode != null and applicationCode!=''">
                #{applicationCode},
            </if>
            <if test="tenantCode != null and tenantCode!=''">
                #{tenantCode},
            </if>
            <if test="remark != null and remark!=''">
                #{remark}
            </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE sys_black_list
        <set>
            <if test="id != null and id!=''">
                id = #{id},
            </if>
            <if test="ip != null and ip!=''">
                ip = #{ip},
            </if>
            <if test="orgCode != null and orgCode!=''">
                org_code = #{orgCode},
            </if>
            <if test="createName != null ">
                create_name = #{createName},
            </if>
            <if test="creator != null and creator!=''">
                creator = #{creator},
            </if>
            <if test="createDate != null ">
                create_date = #{createDate},
            </if>
            <if test="modifier != null and modifier!=''">
                modifier = #{modifier},
            </if>
            <if test="modifyDate != null ">
                modify_date = #{modifyDate},
            </if>
            <if test="remark != null and remark!=''">
                remark = #{remark},
            </if>
            <if test="delFlag != null and delFlag!=''">
                del_flag = #{delFlag},
            </if>
            <if test="applicationCode != null and applicationCode!=''">
                application_code = #{applicationCode},
            </if>
            <if test="tenantCode != null and tenantCode!=''">
                tenant_code = #{tenantCode},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM  sys_black_list 
        WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM  sys_black_list
        WHERE id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
    <select id="findIpById" resultMap="blackListResultMap">
        SELECT ip
        FROM sys_black_list
        WHERE id = #{id}
    </select>
</mapper>